@import "./variables";
@import "./mediaQueries";
body {
    background-color:$lightGreen; 
    @include tablet{
        background-color:$anotherLightGreen;
        
    }
    @include desktop{
        background-color:$yetAnotherLightGreen;
        
    }
    
}
